*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.hidden{
	display: none;
}
.show{
	display: block;
}
/* 头部 */
.header{
	width: 100%;
	height:  40px;
	background: #333333;
}
.header-container{
	width:90%;
	height:40px ;
	background: #333333;
	margin: 0px auto;
}
.top-left{
	float: left;
	width: 568px;
	height:40px ;
	background: #333333;
}
.top-left ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 14px;
}
.top-left ul li{
	width: auto;
	height: auto;
	float: left;
}
.top-left ul li:hover a{
 color: white;
}
.top-left ul li a{
	display: block;
	text-decoration: none;
	font-size: 10px;
    color: #B0B0B0;
    float: left;
}
.top-left ul li span{
	float:left;
    width: 1px;
    height: 16px;
    background: #393D3D;
    margin: 0px 6px;

}
.top-right1{
	float: right;
	width:140px ;
	height:40px ;
	margin-left:35px;
	background:#333333;
	position: relative;
	
}
.top-right1 .sp{
	float: left;
	width:100px ;
	height:40px ;
	background: #424242;
	position: relative;
	
}
.sp i{
	display: inline-block;
	margin-right: 5px;
	margin-left: 15px;
}
.icon-gouwuchekong:before{
	font-size: 14px;
	color: #B0B0B0;
}
.sp p{
	display: inline-block;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
	line-height: 40px;

}

.top-right2{
	float: right;
	width:160px ;
	height:40px ;
	background: #333;
}
.top-right2 ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 14px;
}
.top-right2 ul li{
	width: auto;
	height: auto;
	float: left; 
}
.top-right2 ul li:hover a{
 color: white;
}
.top-right2 ul li span{
	float:left;
    width: 1px;
    height: 16px;
    background: #33393D;
    margin: 0px 6px;
}
.top-right2 ul li a{
	display: block;
	text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: #B0B0B0;
    float: left;
}

.shop-block{
	width: 316px;
	height: 83px;
	padding-top: 15px;
	background:white;
	box-shadow: 0px 0px 10px  #8E8B8B;
	position: absolute;
	top: 40px;
	left: -216px;
	z-index: 10;
}
.xuangou strong{
	font-weight : normal;
	display: block;
	color: #424242 ;
    margin-top: 16px;
	margin-left: 46px; 
	font-size: 13px;


}
/* 头部结束 */
/* 导航 */
.top{
	width: 90%;
	height: 100px;
	background: white;
	margin: 0px auto;
	padding-top: 22px;
	background: white;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.logo{
	float: left;
	width:55px ;
	height: 55px;
	background: url('../img/logo.png') no-repeat;
}
.dt{
	width:180px ;
	float: left;
	height: 100px;
	margin:0  15px ;
	background: url('../img/金币.gif') no-repeat;
}
.logo1{
	float: left;
	width :620px ;
	height :auto;
	box-sizing: border-box;
    background:  white;
	
}   
.logo1 ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.logo1 ul li{
	width:auto;
	height: auto;
	float: left;
	box-sizing: border-box;
	padding-right: 16px;
	line-height: 60px;
	padding-bottom: 17px;
	cursor: pointer;
}
.logo1 ul li:first-child{
	padding-left: 0px;
}
.sousuo{
	float: left;
	width: 296px;
	margin-left: 30px;
    background: white; 
    margin-top: 2px;
   }
.souleft{
   	float: left;
   width:243px;
    height:48px ;
   border: 1px solid black;
}
.souright{
   	float: left;
	width:50px;
    height:48px ;
    border: 1px solid black;
    border-left: 0px;
    background: url('../img/2017-03-23_200223.png') no-repeat;
   }
.souleft  p{
   	width:172px ;
   	height: 20px;
   	margin-left:60px ;
   	font-size: 12px;
   	line-height: 48px;
}
.souleft  em{
  	font-style :normal;
   width: 42px;
   height: 18px;
    padding: 0px 5px;
   margin-left: 5px;
   background:#EEEEEE ;
} 
 .souleft  i{
  	font-style :normal;
    width: 104px;
   height:18px;
   padding: 0px 5px;
   margin-left: 5px;
   background:#EEEEEE ;
} 
.nav-block{
	position: absolute;
	width:100%;
	height:0px;
	border-top: 1px solid #E0E0E0;
	top:139px;
	left:0px;
	
	z-index: 13;
	overflow: hidden;
	transition:height  0.4s ease-in-out;

} 
.pic-js{
    overflow: hidden;
	width:100% ;
	box-sizing: border-box;
	height:229px;
	background:white;
	padding-left: 64px;
    transition:height  0.4s ease-in-out;
} 
.nav-block dd{
	float: left;
   width: 204px;
   height:192px;
   box-sizing: border-box;
   background:white;
   margin-top: 35px;
   text-align: center;
    
  
}
 .nav-block dd img{
 	width:160px;
 	display: block;
 	height:110px;
 	padding-left: 22px;
 	 border-left: 1px solid #E0E0E0;
 }
.pic-js .pic-dd1 img{
	border-left: 0px;
}
  .nav-block dd p{
  	width: 100%;
  	height: 20px;
  	margin-top: 20px;
  	font-size: 16px;
  	color: #000;
  }
   .nav-block dd i{
  	width: 100%;
  	height: 20px;
  	color: orange;
  	font-size: 12px;
  	font-style: normal;
  }
/* banner图  */
.banner{
	width: 1226px;
	height: 460px;
	background: white;
	margin: 0px auto;
	position: relative;
}
.ban-left{
 	position: absolute;
 	left: 234px;
 	top: 0;
 	bottom: 0;
 	margin: auto;
 	width: 41px;
 	height: 69px;
 	z-index: 50;
 	text-align: center;
 	box-sizing: border-box;
 	padding-top: 13px;
 	border-radius: 2px;


 }
 .ban-right{
 	position: absolute;
 	right: 0;
 	top: 0;
 	bottom: 0;
 	margin: auto;
 	text-align: center;
 	width: 41px;
 	height: 69px;
 	z-index: 50;
 	box-sizing: border-box;
 	padding-top: 13px;
 	border-radius: 2px;
 }
 .ban-right:hover{
 	background: rgba(0, 0, 0, 0.4);
 }
  .ban-left:hover{
 	background: rgba(0, 0, 0, 0.4);
 }
 .icon-prev:before{
 	font-size: 40px;
	color: #D3CFCC;
 }
  .icon-xiayiye:before{
 	font-size: 40px;
 	color: #D3CFCC;
 }
.banner .bpic{
	width: 100%;
	height: 100%;
}
.banner .bpic li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0;
}
.banner .bpic li img{
	display: block;
	height: 460px;
	width: 1226px;
}
.banner-dot{
	display: block;
    left: auto;
    text-align: right;
    z-index: 50;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.banner-dot ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.banner-dot ul li{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.4);
    border-radius: 50%;
    text-align: left;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}
.banner-dot ul .hot-dot{
     border-color:  rgba(0,0,0,0.4);
     background: rgba(255,255,255,0.45);
}
.banner-left{
	width: 234px;
	height: 420px;
	/* background: #5F5750; */
	background: rgba(0, 0, 0,0.4);
	padding: 20px 0px;
	position: absolute;
	z-index: 12;
	top: 0;
	left: 0;
}
.category .side {
	width: 204px;
	height: 42px;
	/* background: #5F5750; */
	
	padding-left: 30px;
	
	
}
.select-block{
  position: absolute;
  top: 0px;
  left: 234px;
  background: orange;
  height: 458px;
  width: 795px;
 box-shadow: 0 8px 16px rgba(0,0,0,0.18);
 
}

.side a{
	text-decoration: none;
	    color: rgba(255,255,255,0.8);
	font-size: 15px;
	line-height: 42px;
}
.side span {

	float: right;
	padding-right:14px;
	margin-top: 10px;
}
.icon-xiaojiantou:before{
	font-size: 22px;
	color:#B6B9B7;
 }
 .select-mobile{
	float: left;
	width:265px ;
	height:460px ;
	background:white;
}
.select-mobile dd{

	width: 265px;
	height: 76px;
	background: white;
	overflow: hidden;
	  
}

.star-goods  a{
	width: 100%;
	display: block;
	text-decoration: none; 
	 padding: 18px 20px;
    line-height: 40px;
     color: #333;
     box-sizing: border-box;
    float: left;

}
.link   img{
	   display: block;
      float: left;
	
}
.link p {
 float: left;
 color: #333333;
 float: left;

}
.link em{
	display: block;
	float: left;
	font-style: normal;
	font-size: 12px;
	cursor: pointer;
	color: #ff6700;
	border: 1px solid #b0b0b0;
    border-color: #ff6700;
    background: #fff; 
    line-height: 22px;
    width: 60px;
    box-sizing: border-box;
  text-align: center;
  margin-left:48px;
      margin-top: 8px;
}


/* banner图下边  */
.banner-bottom{
	width:1226px;
	height: 170px;
	background: white;
	margin: 0px auto;
	margin-top: 14px;
}
.bott1{
	float: left;
	width: 236px;
	height: 170px;
	background: #5F5750;
	margin-right: 14px;
	box-sizing: border-box;
	padding-left: 1px;

}

.t1{
	float: left;
}
.t2{
	float: left;
	margin-top: -4px;
}

.bott2{
	float: left;
	width: 316px;
	height: 170px;
	background: pink;
	margin-right: 14px;
}
.bott2 img{
	width: 100%;
	height: 100%;
}
.bott{
	margin-right: 0px;
	}
.t1 a{
	display: block;
	width: 70px;
	height: 70px;
	border-right: 1px solid #665E57; 
	margin: 8px 0;
	text-decoration: none;
	text-align: center;
	margin-left: 6px;
	color: #CDCAC8 ;

}
.t3 a{
  border: 0px;
}
.icon-xuangoushouji:before{
	/* color: #CDCAC8; */
	display: block;
	font-size: 35px;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 8px;
}
.icon-liwu:before{
	/* color: #CDCAC8; */
	display: block;
	font-size: 30px;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 6px;
}
.icon-lanmaofenleiyiyuangou:before{
	/* color: #CDCAC8; */
	display: block;
	font-size: 35px;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 8px;
}
.icon-chongzhi1:before{
	/* color: #CDCAC8; */
	display: block;
	font-size: 35px;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 8px;
}
.icon-shouji2:before{
	/* color: #CDCAC8; */
	display: block;
	font-size: 30px;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 6px;
}
.icon-dianhuaqia:before{
	/* color: #CDCAC8; */
	display: block;
	font-size: 30px;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 6px;
}
.t1 a p{
	/* color: #CDCAC8; */
	font-size: 12px;
	margin-top: -8px;
	width: 66px;
	padding-bottom: 18px;
	box-sizing: border-box;

	border-bottom: 1px solid #665E57;
}
.t4 a p{
  border: 0px;
}
/* 标题 */
	.title{
		width: 1226px;
		height:58px ;
		margin: 0px auto;
		background: white;
		margin-top: 14px;
}
.title p{
	 width: 133px;
	height: 25px; 
	font-size:22px ;
	font-weight: 200;
	color: #333333;
	line-height: 58px;

}
.mor-cp{
	background: #FFF;
}
.more{
	float: right;
	width: 71px;
	height:24px ;
	
	margin-bottom: 9px;
}
.icon-you2:before{
	font-size: 13px;
	font-weight: 600;
	color:#B0B1Bb;
}
.icon-chevron-left:before{
	font-size: 13.4px;
	padding-top: 4px;
	display: block;
	box-sizing: border-box;
	color:  #BDB1B0;
}
.more2{
	float: right;
	width: 34px;
	height: 24px;
	border: 1px solid #E0E0E0;
	text-align: center;
}
.more1{
	float: right;
	width: 34px;
	height: 24px;
	text-align: center;
	border: 1px solid #E0E0E0;
	border-right: 0px;
	
	}

.box{
	width: 1226px;
	height: 340px;
	background: white;
	margin: 0px auto;
	margin-bottom: 40px;
}
.box-son{
	float: left;
	width: 234px;
	height: 339px;
	background: #FAFAFA;
	
	margin-right: 14px;
	border-top: 1px solid orange;
	/* padding-top: 39px; */

}
.box-s{
	margin-right: 0px;

}
.box-son .box1a{
	width:160px ;
	height:230px ;
	background: #FAFAFA;
	margin: 0px 37px;
	
}
.box1a{
	box-sizing: border-box;
	padding-top:50px;
	padding-bottom: 20px;
}
.box1a img{
	
	width: 100%;
	height: 100%;
} 
.box-son .box2{
	width: 234px;
	height: 109px;
	background:#FAFAFA;
}
.box2 p{
	width: 234px;
	height: 21px;
	margin-bottom: 3px;
	font-size:16px ;
	text-align: center;
}
.box2  .sj{
	font-style: normal;
	width: 234px;
	height: 18px;
margin-bottom: 9px;
	font-size:14px ;
	color:#B0B0B0;
	
}

.box2  i{
	font-style: normal;
	width: 234px;
	height: 14px;
	font-size:13px ;
	/* background: orange; */
	 margin-left: 88px;
	 color: #FF6709;

	
}


.zn{
	width: 100%;
	height: 734px;
	background: #F5F5F5;
	
}
.znyj{
	width: 1226px;
	height: 118px;
	background: #F5F5F5;
	margin: 0px auto;
}
.biaoti{
	float: left;
	width:90px ;
	height:22px ;
	background: #F5F5F5;
	padding-top: 68px;
	font-size:22px ;
	font-weight: 200;
}
.mor{
	float: right;
	width:97px ;
	height: 25px;
	background: #F5F5F5;
	padding-top: 76px;
	color: #B0B0B0;
	cursor: pointer;
}
.ckm{
	float: left;
	width: 65px;
	height: 18px;
	background: #F5F5F5;
	font-size:16px;
	color: #424242;
}
.ckm1{
	float: left;
	width:22px ;
	height: 25px;
	background: #F5F5F5; 
	margin-left: 10px;

}
.icon-chanpin-chakangengduoanniu-:before{
	font-size: 22px;
	color: #9B9B9B;
}

.mor:hover .icon-chanpin-chakangengduoanniu-:before{
	color:#FF6700;
}
.mor:hover .ckm{
		color:#FF6700;
}

.js{
	width:1226px ;
	height:614px ;
	background: #F5F5F5;
	margin: 0px auto;
}
.tu-left{
	float: left;
	width:234px ;
	height:614px ;
	background: #FFFFFF;
	margin-right:14px;
	transition: all 0.5s ease ;
}
.tu-left img{
	width:234px ;
	height:614px ;
}
.tu-left:hover{
		box-shadow:  0px 6px 30px  #C4C4C4;
}	
.tu1{
	float: left;
	width:234px ;
	height:300px ;
	background: #FFFFFF;
	margin-right:14px; 
	margin-bottom: 14px;
	transition: all 0.5s ease ; 
}
.tu1:hover{
	box-shadow: 0px 6px 30px  #C4C4C4;
}
 .rmargin{
	margin-right:0px;
  }
.tu1 .df{
	width: 160px;
	height: 166px;
	background: green;
	margin: 0px auto;
	margin-top:  18px ;
	margin-bottom:  18px ;
}
.tu1 .dfjs{
	width: 234px;
	height: 98px;
	background: #FFFFFF;
}
.df img{
	width: 160px;
	height: 166px;
}

.dfjs a{
   text-decoration: none;
   color: #333333;
}
.dfjs .name{
	 width:110px ;
	height: 14px; 
	margin: 0px auto;
	font-size: 14px;
	}

.intrdition{
    width:170px ;
	height: 12px; 
	margin: 0px auto;
	margin-top: 10px;
} 
.intrdition a{
	color: #B0B0B0;
	font-size:12px;
}
.price{
	width:39px ;
	height: 14px; 
	margin: 0px auto;
	margin-top:22px;
	
}
.price a{
	color: #FF6700;
	font-size:14px;
}
.tu11{
	float: left;
	width:234px ;
	height:300px ;
	background: #F5F5F5;
	margin-right:0px; 
	margin-bottom: 14px;
	 transition: all 0.5s ease ;  
}

.box-top:hover{
	box-shadow: 0px 6px 20px  #C4C4C4;
}

.dp{
	width: 100%;
	height: 693px;
	background: #F5F5F5;
	padding-top: 12px;

	
}
.dpk{

	width: 1226px;
	height: 686px;
	background: #F5F5F5;
	margin-top:12px; 
	margin: 0px auto;
}
.biaoti1{
	width:1226px ;
	height: 58px;
	margin: 0px auto;
	background: #F5F5F5;
}


.tu-dp:hover{
	box-shadow: 0px 6px 20px #C4C4C4;
}
.tu-dp{
	float: left;
	width:234px ;
	height:300px ;
	background: #FFFFFF;
	margin-right:14px; 
	margin-bottom: 14px;
	position: relative;

overflow: hidden;


} 

.tu-dp .df{
	width: 160px;
	height: 166px;
	background: green;
	margin: 0px auto;
	margin-top:  18px ;
	margin-bottom:  18px ;
}
.tu-dp .dfjs{
	width: 234px;
	height: 98px;
	background: #FFFFFF;
} 
.rmargin1{
margin-right: 0px;
} 

.tanchu{
	width:174px ;
	height:75px;
	padding:0px 30px;
	background:#ff6700;
	position: absolute;
	bottom:0px;
	top: 300px;
	transition: all 0.5s linear;
	
}
 .tanchu p{
	margin-top: 8px;
	font-size: 12px;
	color: white;
   
} 


.tanchu .pj{
	margin-top: 8px;
	font-size: 12px;
	color:rgba(255,255,255,0.6) ;
}

.tu-dp:hover .tanchu{
  top: 225px;

   
}
.bt{
	float: left;
	line-height: 58px;
	font-size:22px ;
	font-weight: 300;
	color: #333333;
}
.fl{
	float: right;
	width: 308px;
	height: 42px;
	line-height: 52px;
	background:#F5F5F5;
}
 .fl li{
 	
 	float: left;
	width: auto;
	height: 38px; 
	margin-top: 6px;
	margin-right: 30px;

} 
.fl li:last-child{
  margin-right:0px;

}
.ciyuu{
	border-bottom: 2px solid #FF6700;
	width: auto;
	height: 38px; 
	margin-top: 6px;
	margin-right: 30px;
}
.fl li  a{
	display:block;
	text-decoration: none;
    color: #424242;
} 
.fl li .teshu{
color: #FF6700;
}
.fl .rm{
	float: right;
	width: 32px;
	height: 2px;
	background: orange;

}
.picture{
	height: 614px;
	width: 100%;
	background: #F5F5F5;
}
.box1{
	width:234px ;
	height: 143px;
	background: green;
	margin-bottom: 14px;
}
.box1-son{
	margin-bottom: 0px;
}
.box-top{
	width: 234px;
	height: 93px;
	background: #FFFFFF;
	padding-top: 50px;

}

.qm{
	float: left;
    width:94px ;
	background: #FFFFFF;
	margin-left: 30px;
	font-size: 14px;
	margin-top: 14px;
}
.qm1{
	float: left;
    width:94px ;
	background: #FFFFFF;
	margin-left: 30px;
	font-size: 20px;
	margin-top: 14px;
}
.ej{
	float: right;
	width: 80px;
	height: 80px;
	background: white;
	margin-right:20px;
	margin-top: 2px;
}
.ej img{
	width:48px;
	height: 48px;
	
}
.ej1 img{
	width:48px;
	height: 48px;
	display: block;
	margin-top: 11px;
}
.qm i{
	font-style: normal;
}
.qm1 i{
	font-style: normal;
}
.jg{
	width: 94px;
	height: 21px;
	margin-top: 15px;
	font-size: 12px;
}
.jg1{
	width: 94px;
	height: 21px;
	margin-top: 15px;
	font-size: 12px;
	color: #757575;
}
.flb li{
 margin-right: 20px;
}
.flb{
	padding-left: 36px;
	box-sizing: border-box;
}
.share{ 
	width: 100%;
	height: 380px;
	background: #F5F5F5;
}
 .titlee{
background: #F5F5F5;
margin-top: 0px;
}
.share1{
	width:1226px;
	height: 358px;
	background:purple;
	margin: 0px auto;
}
.box-1{
	width: 1226px;
	height: 300px;
	background: #F5F5F5;
	margin: 0px auto;
	margin-bottom: 14px;


}
.b-box:hover{
	box-shadow: 0px 8px 30px #C4C4C4;
}	

.box-1 .b-box{
	float: left;
	width: 194px;
	height: 300px;
	padding-right: 20px;
	padding-left: 20px;
	background: #FFFFFF;
	margin-right: 14px; 
	transition: all 0.5s ease ; 
} 
.box-1 .rmargin{
	margin-right: 0px; 
}
.b-box-son{
	width:194px ;
	height:145px ;
	background: #FFFFFF;
	padding-top: 40px;
	
}
.b-box-son img{
	width:140px;
	 height:140px;
	display: block;
	margin: 0px auto;
	background: #FFFFFF;
	
}
.b-box-son1{
	width:194px ;
	height:80px ;
	background: #FFFFFF;
	
}
.b-box-son1 a{
	text-decoration: none;
	font-size: 14px;
	color: black;
}
.b-box-son1 .bjb{
	display: inline-block;
	 width: 185px;
	height:15px ; 
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}
.b-box-son1 p{
	color: #ff6700;
	text-align: center;
	font-size: 14px;
}
.b-box-son1 em{
	font-style: normal;
	color: #757575;
	display: inline-block;
	margin: 0px auto;
	margin-top: 8px;
	margin-left:60px ;
	font-size: 12px;
	
}
.comment{
	width: 100%;
	height: 495px;
	background:#F5F5F5;
}
.reping{
	width: 1226px;
	height: 495px;
	background:#F5F5F5;
	margin: 0px auto;
}

.review{
	width: 1226px;
	height: 415px;
	background: #F5F5F5;
}
.review1{
	float: left;
	width: 296px;
	height:415px;
	margin-bottom: 14px;
	background:#FFFFFF;
	margin-right: 14px;
 transition: all .2s linear;
}
.review1:hover{
	box-shadow: 0px 8px 30px  #C4C4C4;
}
.review .rmargin{
	margin-right: 0px;
}
.review-top{
	width: 296px;
	height:220px ;
	background: #fff;
	
}
.review-top img{
	width: 100%;
	height: 100%;
}
.review-bottom{
	width:296px ;
	height:161px ;
	background: #FFFFFF;
}
.pinglun{
	width: 240px;
	height: 72px;
	background: #FFFFFF;
	 margin:34px 28px 22px; 
	font-size: 14px;
	color: #333333;
}
.author{
	width: 230px;
	height:18px ;
	padding-right: 10px;
	background: #FFFFFF;
	font-size: 12px;
    color: #b0b0b0;
    margin-left:30px;
    margin-top: -10px;

}
.info{
	width: 236px;
	height: 22px;
	margin: 0px 30px;
	background: #FFFFFF;
	 margin-top: 10px;
}
.info a{
	text-decoration: none;
	font-size: 14px;
	color: #333333;
}
.info span{
	
	color:#E5E5E5 ;
	display: inline-block;
	margin:0px 15px;
	
}
.info em{
	font-style: normal;
	    color: #ff6700;
	    font-size:14px ;
	    display: inline-block;
	    margin-right: 10px;
}
.content{
	width: 100%;
	height: 500px;
	background: #F5F5F5;
}
.neirong{
	width: 1226px;
	height: 478px;
	background: #FFFFFF;
	margin: 0px auto;
}
.kj{
	width:1226px ;
	height: 420px;
	background:#F5F5F5; 
}
.kuangjia{
	float: left;
	width:296px ;
	height: 374px;
	border-top: 1px solid green;
	padding-top: 45px;
	background: #FFFFFF;
	margin-right: 14px;
	 transition: all .2s linear;
	 position: relative;

}
.kuangjia:hover .kj-left i{
	opacity: 1;
}
.kuangjia:hover .kj-right i{
	opacity: 1;
}
.kj-left i{
	display: block;
	width:20px ;
	height:36px;
	background: #CECECF;
	
	padding-top: 12px;
	position: absolute;
	top: 183px;
	text-align: center;
    opacity: 0;
}
.kj-right i{
	display: block;
	width:20px ;
	height:36px;
	background: #CECECF;
	padding-top: 12px;
	position: absolute;
	top: 183px;
	right: 0px;
	text-align: center;
	opacity: 0;

}
.icon-zuo2:before{
	font-size: 14px;
	color: white;

}
.icon-youyou:before{
	font-size: 14px;
   color: white;
}
.kuangjia:hover{
	box-shadow: 0px 8px 30px  #C4C4C4;
}
.kj .rmargin{
	margin-right: 0px;
}
.titlem{
	width:276px ;
	height: 24px;
	margin: 0px 10px 16px;
	font-size: 16px;
    font-weight: 400;
    text-align: center
}
.xm-wrap{
	width:296px ;
	height:334px ;
	background: #FFFFFF;
}
.name-m{
	width: 256px;
	height:25px ;
	margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
   /*  line-height: 1.25; */
    color: #333;
}
.desc{
	width: 200px;
	height: 40px;
	margin: 0px 48px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
        color: #b0b0b0;
}
.price-m a{
	text-decoration: none;
    color: #333;
}
.price-m{
	width: 276px;
	height: 21px;
	margin: 0 10px 18px;
    text-align: center;
   
}
.xm-img{
	width: 216px;
	height: 154px;
	margin-left:68px ;

}
.pager{
	width:296px ;
	height: 30px;
	background: white;
}
 .pager .dian{
	margin-left: 92px;
} 
.pager ul{
	overflow: hidden;
	cursor: pointer;

}
.pager li{
	display: block;
	float: left;
	margin-top:14px ;
	
	width: 6px;
	height:6px;
	border-radius: 50%;
	/* height:10px ; */
	background-color: #B0B0B0;
	margin-right: 26px; 

}
.pager .circle{
background:white; 
border: 2px orange solid;
margin-top:12px ;
}

/* 视频 */
.video{
	width: 100%;
	height: 403px;
	background: #F5F5F5;
}
.video1{
	width: 1226px;
	height: 343px;
	background: pink;
	margin: 0px auto;
}
.video-title{
	width: 1226px;
	height: 58px;
	background:#F5F5F5;
}
.video-title1{
	float: left;
	 width:100px ;
	height: 58px; 
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
	background:#F5F5F5 ;

}
.video-title2{
	float:right;
	cursor: pointer;	
}
.video-more{
	float: right;
	width: 66px;
	height: 58px;
	font-size:16px;
	background: #F5F5F5;
	line-height: 58px;
}
.video-more1{
	float: right;
	width: 30px;
	height: 48px;
	background:#F5F5F5;
	line-height: 60px;
	margin-left: 9px;

}
.video-title2:hover .icon-chanpin-chakangengduoanniu-:before{
	color: #FF6700;
}
.video-title2:hover .video-more{
	color: #FF6700;
}
.video-content{
	width: 1226px;
	height: 285px;
	background:#F5F5F5;
	margin-bottom: 14px;
}
.video-box{
	width:296px ;
	height: 285px;
	background: blue;
	float: left;
	margin-right: 14px;
	 transition: all .2s linear;

}

.video-box:hover{
	box-shadow: 0px 8px 20px 1px #A59D9D;

}
.video-content .rmargin{
	margin-right: 0px;
}
.video-box-top{
	width:296px ;
	height: 180px;
	background:#FFFFFF;
	position: relative;
}
.start{
	position: absolute;
	left: 20px;
	bottom: 10px;
	width: 38px;
	height: 26px;
	border-radius: 20px;
	box-sizing: border-box;
	border: 2px solid white;
	background: rgba(0, 0, 0,0.3);
	text-align: center;
}
.sanjiao{
	height: 0px;
	border-radius: 2px;
	border-top: 6px solid rgba(0, 0, 0,0);
	border-bottom: 6px solid rgba(0, 0, 0,0);
	border-left: 8px solid white;
	margin-left: 14px;
	margin-top: 5px;
}
.video-box-bottom{
	width:296px ;
	height: 105px;
	background: #FFFFFF;
}
 .gn{
	width:186px ;
	height:21px ;
	background:#FFFFFF;
	margin: 0px auto;
	padding-top: 28px;
	padding-bottom:6px;
	color: #333;
	font-size: 14px;
    font-weight: 400;
	
}
.gn:hover{
	color: orange;
}
.ds{
	margin: 0px auto;
	width: 159px;
	height: 18px;
	background:#FFFFFF;
    font-size: 12px;
    color: #b0b0b0

}
/* 底部 */
.container{
	width: 100%;
	height: 272px;
	background: #FFFFFF;
}
.container-top{
	width: 1226px;
	height: 25px;
	background:#FFFFFF;
	padding: 27px 0px;
	margin: 0px auto;
	border-bottom: 1px solid #E0E0E0;
}
 .service-list{
	width: 1226px;
	height: 25px;
	background: #FFFFFF;
}
.service-list .item{
	float: left;
	width: 242.734px;
	height: 25px;
	background: #FFFFFF;
	border-left: 1px solid #E0E0E0;	
}
.service-list .item1{
	border-left: 0px ;	
}
.service-list li:hover i{
	color:#FF6700;
}
.help li:hover{
 color:#FF6700;
}
.help:hover .help-center1{
 color: #424242;
}
.item .icon{
    float: left; 
    margin-left:53px; 
	width: 24px;
	height:25px;
	line-height: 18px;
	background:#FFFFFF;
	margin-right: 5px;
}
.item:hover .icon-buoumaotubiao46:before{
  color: #FF6700;
}
.item:hover .icon-7tian:before{
  color: #FF6700;
}
.item:hover .icon-15tianwuliyoutuihuo:before{
  color: #FF6700;
}
.item:hover .icon-icon25:before{
  color: #FF6700;
}
.item:hover .icon-ditu:before{
  color: #FF6700;
}
.icon-buoumaotubiao46:before{
	font-size: 25px;
	color: #616161;
}
.icon-7tian:before{
	font-size: 25px;
	color: #616161;
}
.icon-15tianwuliyoutuihuo:before{
	font-size: 25px;
	color: #616161;
}
.icon-icon25:before{
	font-size: 25px;
	color: #616161;
}
.icon-ditu:before{
	font-size: 25px;
	color: #616161;
}
.item .fw{
	float: right;
	margin-right:30px;
	width:130px;
	height:25px;
	background:  #FFFFFF;
}
.fw i{
   font-style: normal;
   font-size: 16px;
   color: #616161;
}
.container-bottom{
	width:1226px ;
	height:112px ;
	background: #FFFFFF;
	padding: 40px 0px;
	margin: 0px auto;
}
.help{float: left;
	width: 160px;
	height: 112px;
	background: #FFFFFF;
}

.help .help-center{
	width: 160px;
	height: 17px;
	margin-bottom: 26px;
	margin-top: -1px;
	font-size: 14px;
    color: #424242;
}
 
.help li{
	
	width: 160px;
	height: 18px;
	margin-top: 10px;
    font-size: 12px;
	color: #757575;
}
.col-contact{
	float: left;
	width:251px ;
	height:112px ;
	background: #FFFFFF;
	border-left: 1px solid #E0E0E0;
	cursor: pointer;
}
.phone{
	width: 251px;
	height: 22px;
	margin-bottom: 5px;
	font-size: 22px;
    line-height: 1;
    text-align: center;
    color: #ff6700;
}
.col-contact .time{
	width: 251px;
	height:36px ;
	margin-bottom: 16px;
	text-align: center;
    color: #616161;
    font-size: 12px;
}

.message{
	margin-left:65px ;
	margin-top: -2px;
}
.site-info{
	width: 100%;
	height: 106px;
	padding: 30px 0px;
	background:#FAFAFA;
}
.site-container{
	width: 1226px;
	height: 57px;
	margin: 0px auto;
	background:#FAFAFA;
}
.logo-ir{
	float: left;
	width: 57px;
	height: 57px;
	margin-right: 10px;
	background: pink;
}
.logo-ir img{
	
	width:100%;
	height:100%;
	
}
.info-text{
	float: left;
	width: 780px;
	height: 55px;
	background:#FAFAFA;
    color: #b0b0b0;
    font-size: 12px;
}
.info-text a:hover{
	color: orange;
}
.sites{
	width:780px;
	height: 19px;
	margin: 0;
    line-height: 18px;
     
}
.sites a{
	text-decoration: none;
	color: #757575;
}
.sites .sep{
	margin: 0px 3px;
	color: #b0b0b0;
	font-size: 12px;
}
.xinxi{
	width:719.578px;
	height: 36px;
	margin: 0;
    line-height: 18px;
    color: #b0b0b0;
	font-size: 12px;
     
}
.xinxi a{
	text-decoration: none;
    color: #b0b0b0;
	font-size: 12px;
}
.info-links{
	float: left;
	width:378px;
	height: 28px;
	background: #FAFAFA;
	margin-top: 4px;
	cursor: pointer;
	
 }
 .info-links img{
 	width: 83px;
 	height: 28px;
 }
 .foot{
 	margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background:#FAFAFA;
    font-size: 18px;
     color: #BABABA;
 }