*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "微软雅黑","苹方";
}
.xiahuadaohang{
    height: 50px;   
	width: 100%;
    background:rgba(221,39,39,0.95);
	border: none;
    position:fixed;
    top:-50px;
    left: 0;
    /* overflow: hidden; */
    z-index: 600;
}
.xhdhleft{
	float: left;
   padding-left: 44px;
   padding-right: 100px;
   box-sizing: border-box;
}
.xhdhright{
	float: left;
	    margin-top: 10px;
}
.xhdhright input{
	float: left;
	width: 648px;
	height: 30px;
	font-size: 14px;
	vertical-align: middle;
    overflow-y: visible;
    box-sizing: border-box;
	border: none;
    outline: none;
    padding: 5px 3px 5px 5px;
}
.xhdhright button{
	float: left;
    border: none;
    outline: none;
    width: 90px;
    height: 32px;
    background: #c40000;
    color: white;
    font-size: 18px;

}
.icon-tianmaowenzi:before{
	font-size: 30px;
	color: white;
	line-height: 50px;
}
.icon-tianmaowangzhi:before{
	color: white;
	font-size: 14px;
}
.side-nav{
	width: 36px;
	height: 331px;
	position: fixed;
	left:-36px;
	top:300px;
	background:white;
	
}
.nnav{
   width: 36px;
	height: 25px;
	background:  #CB040B;
	font-size: 12px;
	color: white;
	text-align: center;
   padding-top:10px;

}

.side-nav li{
	width: 36px;
	height: 36px;
	margin-top: 1px;
	font-size: 12px;
	text-align: center;
	color: white;

}
.side-nav .mml{
	background: #626262;
}
.mml p{
	background: #ACACAC;
	color: white;
}
.side-nav a{
	display: block;
	width: 24px;
	height: 28px;
	margin:1px 6px;
	color: white;
	text-decoration: none;
	text-align: center;
}
.sn1{
	background: #EA5F8D;
}
 .sn2{
	background:#0AA6E8;
}
.sn3{
	background: #64C333;
}
.sn4{
	background: #F15453;
}
 .sn5{
	background:  #19C8A9;
}
 .sn6{
	background: #F7A945;
}
.sn7{
	background: #CB040B;
}
.side-nav li:nth-child(2):hover{
	background: #EA5F8D;
}
.side-nav li:nth-child(3):hover{
	background: #0AA6E8;
}
.side-nav li:nth-child(4):hover{
	background: #64C333;
}
.side-nav li:nth-child(5):hover{
	background: #F15453;
}
.side-nav li:nth-child(6):hover{
	background: #19C8A9;
}
.side-nav li:nth-child(7):hover{
	background: #F7A945;
}
.side-nav li:nth-child(8):hover{
	background: #000;
}


.nnsv:hover{
	background: #DD2727;
}











.nav-side{
	width: 35px;
	background:#000 ;
	position: fixed;
	right: 0px;
	z-index: 601;
}
.tequan{
	width: 35px;
	height: 35px;
	margin-top:110px;
	background:#000000;
	position: relative;

}
.tequan:hover{
	background: #CC0000;
}
.icon-tianmao01:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}

.icon-31goumaichongzhi:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}
.icon-zan:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}
.icon-shoucang:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}
.icon-lishijilu:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}

.icon-chongzhi:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
   color: white;
}

.icon-xiugaioryijian:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}

.icon-erweima:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}
.top-zi .tck a{
	display: block;
}
.icon-huidaodingbu:before{
	display: block;
	font-size: 22px;
   line-height: 35px;	
   text-align: center;
color: white;
}
.shopping-car{
	width: 25px;
	height:98px ;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	background: #000 ;
	padding: 0px 5px;
	text-align: center;

}
.shopping-car:hover{
	background: #CC0000;
}
.shopping-car:hover .icon-tianmaochaoshigouwuche:before {
	color: white;
}
.icon-tianmaochaoshigouwuche:before{
	display:inline-block;
	font-size: 22px;
    color:#CC0000;
    margin-top: 8px;
}
.shopping-car p{
	font-size: 13px;
	color: white;
}
.mai{
	width: 35px;
	height: 35px;
	background: #000 ;
	margin-bottom: 8px ;
}
.mai:hover{
	background: #CC0000;
}
.top-zi{
	margin-bottom: 0px;
}


.bianji{
	width: 35px;
	height: 35px;
	background:#000 ;
	margin-top: 78px;
	margin-bottom: 8px;
}
.bianji:hover{
	background: #CC0000;
}


.tck{
	width: 90px;
	height:35px;
	background: #494949;
	transform: translate(-120px,-35px);
	transition: all 1s;
	opacity: 0; 
	visibility: hidden;
	position: absolute;

}
.tck p{
	float: left;
	display: inline-block;
	font-size: 13px;
	color: white;
	margin-left: 20px;
	line-height: 35px;
}
.smalltr{
	
	border-left: 16px solid #494949;
	border-top: 12px solid rgba(0, 0, 0, 0);
	border-bottom:12px solid rgba(0, 0, 0, 0);
	transform: translate(83px,5px);
}
.tequan:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .gm:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .xh:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .shoucang:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
.lishi:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .chongzi:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .bianji:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}

 .erweim:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .top-zi:hover .tck{
	transform: translate(-90px,-35px );
	opacity: 1;
	visibility: visible;
}
 .erweim{
	width: 35px;
	height: 35px;
	background: #000 ;
	margin-bottom: 8px ;
	position: relative;
} 

 .tck1{
	width: 154px;
	height:207px;
	transform: translate(-153px,-200px);
	transition: all 1s;  
 	position: absolute;
 	opacity: 0;
 	visibility: hidden;

} 
 .smalltr1{
	
	border-left: 12px solid  #F5392E;
	border-top: 8px solid rgba(0, 0, 0, 0);
	border-bottom:8px solid rgba(0, 0, 0, 0);
	transform: translate(150px,-36px);
	position: absolute;
} 

 .ew{
	width:154px ;
	height:145px ;
   position: absolute;
   top: 45px;
   left: 27px;


}
.ew img{
	width: 100px;
	height: 100px;
} 
 .jsss img{
	width: 135px;
	height: 45px;
    position: absolute;
    bottom: 15px;
    left: 12px;
}
.ewm:hover .tck1{
	opacity: 1;
	visibility: visible;
}



.nav{
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #E5E5E5;
	background: #F2F2F2;
}
.nav-top{
	width: 1230px;
	height: 32px;
	background: #F2F2F2;
	margin: 0px 49px 0px ;
}
.logoinfo{
	float: left;
	width: 218px;
	height:32px;
	background: #F2F2F2;
}
.logoinfo em{
	
	font-style: normal;
	line-height: 32px;
	color:#999 ;
	font-size: 10px;
	font-weight: 400;
}
.logoinfo a{
	font-weight: 400;
	text-decoration: none;
	line-height: 32px;
	color:#999 ;
	font-size: 10px;
}
.dl{
	width: 66px;
	height:16px;
	padding: 0px 15px  0px 15px;
}
.zhuce{
	width: 68px;
	height:16px;
}
.dl:hover{
	color: #C40000;
} 
.zhuce:hover{
	color: #C40000;
} 
/* 标题 */
.menu{
	margin-left: 540px;
	width:auto;
	height: 32px;
	background: #F2F2F2 ;

}
.menu  li{
	width: auto;
	height: 100%;
	float: left; 
	box-sizing: border-box;
	padding-right: 14px;

}
.item .sjb{
	width: 200px; 
}
.baobei1 ul{
	overflow: hidden;
	height: auto;
	width: 80%;
	margin: auto;
	padding-bottom: 8px;
	border-bottom: 1px dashed #000;
}
.baobei1 li{
	width: 50%;
	float: left;
}
.menu  .it1{
	position: relative;
	z-index: 10;
}
.item:hover .webnav{
	display: block;
}
.webnav{
	position: absolute;
	right: 14px;
	left: auto;
	width: 1180px;
	background: white;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 25px 0;
	display: none;
}
.site-cont {
	float: left;
    padding-left: 30px;
    overflow: hidden;
    height: 200px;
    border-right: 1px solid #F5F5F5;
}
.site-cont:last-of-type{
	width:186px;
 border-right: 0px;
}
.site-hot {
    width: 275px;
}
.site-Market{
	width: 372px;
}
.site-Market h2 {
	color: #437ADA;
	font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.site-help #site-list  li{
	width: 33%;
}
.site-help h2{
	color: #464646;
 font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.site-help ol li{
	width: 100%;

}
.site-help ol li a{
	width: 100%;
color: #666;
}	
.site-hot h2 {
    color: #f56a00;
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
#site-list{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#site-list li{
	width: 25%;
	height: auto;
	float: left;

}
#site-list li a{
		color: #666;
}
.tbkuai{
	position: absolute;
	top: 32px;
	left: 0px;
	width:96px;
	height:auto;
	background: white;
	box-sizing: border-box;
	border: 1px solid #EEEEEE;
	border-top: 0px;
	padding:8px;
	z-index: 20;
	display: none;
	text-decoration: none;
	font-size: 13px;
	color: #666;
}
.it1:hover .tbkuai{
	display: block;
}
.baobei1:hover{
	color: #c40000;
	text-decoration: underline;
}
.baobei2:hover{
	color: #c40000;
	text-decoration: underline;
}
.baobei1{
 margin-bottom: 4px;
}
.item_sj:hover .slsj{
display: block;
}
.item_sj:hover .tmew{
display: block;
}
.slsj{
	display: none;
	position: absolute;
	left: 38px;
	top: 26px;
	z-index: 101;
	border-bottom: 10px solid white;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
}
.tmew{
	display: none;

	width: 200px;
	position: absolute;
	left:-46px;
	top: 32px;
	background:white;
	height: 230px;
	z-index: 100;
	border: 1px solid #ccc;
	
}
.item_sj{
	position: relative;

}
.ttm-pic{
	width: 175px;
    height: 200px;
    margin: 5px 13px 0px;
}

.sj{
	float: right;
	width: 0;
	margin: 15px 0px 0px 2px;
	border-top: 4px solid #BBBBBB;
	border-left: 3px solid rgba(0, 0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
}
.menu  li:hover .tita{
	color: #C40000;
}
.menu  li:hover .sj{
	transform: rotate(180deg);
}
.menu  .it1:hover  .tita{
 text-decoration: underline;
 background: white;
 border-left: 1px solid #EEEEEE;
 border-right: 1px solid #EEEEEE;

} 
.menu  li a{
	display: block;
	text-decoration: none;
	color: #999999;
	font-size: 12px;
	font-weight: 400;
	line-height: 33px;
	padding-left: 3px;
	box-sizing: border-box;
}
.menu   span{
	display: block;
	float:left;
	width: 1px;
	height:14px ;
	background: #CCCCCC;
	margin-top: 10px;
	margin-right: 12px;
}
.menu  li a .iconfont{
   font-size: 15px;
   margin-right:2px;
   color: #C40000;
}
.header{
	width: 100%;
	height: 130px;
	background: #FFFFFF;
}
.header-top{
	width:1230px;
	height: 130px;
	background: #FFFFFF;
    margin-left: 26px;
}
.logo{
	float: left;
	width: 300px;
	height: 130px;
	background:#FFFFFF;

	
}
.search{
	float: right;
	width: 625px;
	height: 62px;
	margin-right:270.5px ; 
	margin-top: 38px;
	background: yellow;
}
.search-top{
	width: 623px;
	height:36px;

	background: red; 
	border:2px solid #C40000;
	border-right: 0px; 
}
.search-bottom{
	width: 625px;
	height: 22px;
	 background: yellowgreen; 
}
.search-zi{
	float: left;
	width:483px ;
	height: 26px;
	 background:#FFFFFF; 
	padding:5px 0px 5px 8px;
	color: #666666;
	
}
 .search-tu{
	float: right;
	width:46px ;
	height: 26px;
 background:#C40000;
	padding: 5px 43px;
	font-size: 20px;
	color: white;
}
.search-bottom .hot{
	width:623px ;
	height: 22px;
padding-left: 2px;
	background: white; 
}
.hot li{
	float: left;
	margin-top: 2px;
    	

}

.hot a{
	text-decoration: none;
color: #999;
	font-size: 14px;
	
}
.hot .it1{
	color: #c40000;	
}
.hot span{
	float: right;
	width: 1px;
	height:16px ;
	background:#CCCCCC ;
	margin:3px 12px ;
}
 /* banner图 */
 .banner{
 	width: 100%;
 	height: 536px;
 	background: #9B0598;
    position: relative; 
 }
 
 .banner-top{
 	width: 100%;
 	height: 36px;
 	background: #DD2727;
 	
 }

 .banner-nav{
 	width: 1230px;
 	height: 36px;
 	padding-right: 30px;
 	background:#DD2727;
 	margin: 0px auto;
 }

 .nav-right{
 	width: 1230px;
 	height: 36px;
 	background: #DD2727;
	/* margin-left: 15px;  */ 
 }
.nav-right .category{
	float: left;
	width: 200px;
	height: 36px;
	background: #C60A0A;
	padding: 0px;


	
}
.ml{
	float: left;
	display: inline-block;
	width: 16px;
	height: 36px;
	margin-left: 14px;

}
.category .fl{
	float: left;
	font-style: normal;
	width: 64px;
	height:36px ;
	margin-left: 8px;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	color: #fff;

}
.nav-right .list1{
	float: left;
	width:90px ;
	height: 36px;
	background: #DD2727;
	padding: 0px 15px;
	position: relative;
}
#red-cat{
	width: 40px;
	height: 15px;
	position: absolute;
	top:-15px ;
	left:40px;
	transition: all 0.5s;
	 z-index: -1; 
	 opacity: 0;
}
#red-cat img{
	width:40px; 
	height:15px;
}
.list1:hover #red-cat{
	top: -21px;
	z-index: 2;
	opacity: 1;
}

.list1 img{
	width: 90px;
	height: 36px;
}
.nav-right .list2{
	float: left;
	width:90px ;
	height: 36px;
	background: #DD2727;
	padding: 0px 15px;
	position: relative;
}
.list2:hover #red-cat{
	top: -21px;
	z-index: 2;
	opacity: 1;
}
.list2 img{
	width: 90px;
	height: 36px;
}
.nav-right a{
	text-decoration: none;
	float: left;
	width:64px ;
	height: 36px;
	background: #DD2727;
	padding: 0px 15px;
	line-height: 36px;
	font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.nav-right .list{
	float: left;
	width: 48px;
	height: 36px;
	padding: 0px 15px;
	background: #DD2727;
	color: white;
	position: relative;
}
#red-cat1{
	width: 40px;
	height: 15px;
	position: absolute;
	top:-15px ;
	left:19px;
	transition: all 0.5s;
	 z-index: -1; 
	  opacity: 0;
}
#red-cat1 img{
	width:40px; 
	height:15px;
}
.list:hover #red-cat1{
	top: -21px;
	z-index: 2;
	opacity: 1;
}


.nav-right .list3{
	
	position: relative;
}
#red-cat3{
	width: 40px;
	height: 15px;
	position: absolute;
	top:-15px ;
	left:25px;
	transition: all 0.5s;
	 z-index: -1;
	  opacity: 0; 
}
#red-cat3 img{
	width:40px; 
	height:15px;
} 
.list3:hover #red-cat3{
	top: -21px;
	z-index: 2;
	opacity: 1;
}


 .banner-bottom{
 	width:100%;
 	height: 500px;
	margin: 0px auto;
 	position: relative;
 	background: purple;
 }

.banner-pic{
	width: 100%;
	height: 500px;
}
.banner-pic li{
	width:100%;
	box-sizing: border-box;
	padding: 0  75px;
    height: 500px;
	position: absolute;
 	left:0px;
 	top: 0;
}
.banner-pic li:nth-child(1){
  background: #E8E8E8;
}
.banner-pic li:nth-child(2){
  background: #0537EE;
}
.banner-pic li:nth-child(3){
  background: #F63438;
}
.banner-pic li:nth-child(4){
  background: #E8E8E8;
}
.banner-pic li:nth-child(5){
  background: #240940;
}
.banner-pic li:nth-child(6){
  background: #68BFFF;
}

.banner-pic li img{
	width:1180px;
    height: 500px;
	display: block;
}
 .banner-dian{
 	width: 228px;
 	height: 22px;
 	position: absolute;
 	bottom: 20px;
 	left:555px;
 	margin: 0px;
 	cursor: pointer;
 }
 .banner-dian li{
 	float: left;
 	width: 18px;
 	height: 18px;
 	border-radius: 50%;
    background:rgba(0, 0, 0,0.2);
	border: 2px solid rgba(0,0,0,0);
	margin-right: 14px;
	/* box-sizing: border-box; */
 }
 
 .banner-dian .banner-hot{
 	background: rgba(255, 255, 255,0.5);
 	border-color: rgba(0, 0, 0,0.2);
 }
 .banner-side{
 	width: 200px;
 	height:500px ;
 	position: absolute;
 	left: 45px;
 	top:36px;
 	
 }
 .banner-side ul{
 	background-color: rgba(238,238,238,.95);
 }
 .banner-side li{
 	width: 200px;
 	height:31.25px ;
 }
  .banner-side ul li:nth-child(1){
 	width: 200px;
 	height:31.25px ;
 	position: relative;
	
 }
.banner-side  ul li:hover{
	background: white;
}
.icon-zi:hover  {
	font-weight: bold;
}
.nav-item:nth-child(1):hover .icon-zi a{
	color: #EA5F8D;
}
.nav-item:nth-child(1):hover .icon-nvzhuangneiyi{
	color: #EA5F8D;
}
.nav-item:nth-child(2):hover .icon-zi a{
	color: #427DEF;
}
.nav-item:nth-child(2):hover .icon-nanzhuang{
	color: #427DEF;
}
.nav-item:nth-child(3):hover .icon-zi a{
	color: #6347ED;
}
.nav-item:nth-child(3):hover .icon-xie{
	color: #6347ED;
}
.nav-item:nth-child(4):hover .icon-zi a{
	color: #E54077;
}
.nav-item:nth-child(4):hover .icon-huazhuangpin{
	color: #E54077;
}
.nav-item:nth-child(5):hover .icon-zi a{
	color: #6347ED;
}
.nav-item:nth-child(5):hover .icon-zhubaoshipin{
	color: #6347ED;
}
.nav-item:nth-child(6):hover .icon-zi a{
	color: #427DEF;
}
.nav-item:nth-child(6):hover .icon-shumashouji{
	color: #427DEF;
}
.nav-item:nth-child(7):hover .icon-zi a{
	color: #FA5C5C;
}
.nav-item:nth-child(7):hover .icon-muyingwanju{
	color: #FA5C5C;
}
.nav-item:nth-child(8):hover .icon-zi a{
	color: #F7A831;
}
.nav-item:nth-child(8):hover .icon-shipin{
	color: #F7A831;
}
.nav-item:nth-child(9):hover .icon-zi a{
	color: #F7A831;
}
.nav-item:nth-child(9):hover .icon-miaoxiansheng{
	color: #F7A831;
}
.nav-item:nth-child(10):hover .icon-zi a{
	color: #427DEF;
}
.nav-item:nth-child(10):hover .icon-jiayongdianqi{
	color: #427DEF;
}
.nav-item:nth-child(11):hover .icon-zi a{
	color: #DD2727;
}
.nav-item:nth-child(11):hover .icon-jiajujiancai{
	color: #DD2727;
}
.nav-item:nth-child(12):hover .icon-zi a{
	color: #427DEF;
}
.nav-item:nth-child(12):hover .icon-qichepeijian{
	color: #427DEF;
}
.nav-item:nth-child(13):hover .icon-zi a{
	color: #F7A831;
}
.nav-item:nth-child(13):hover .icon-jiafangjiashi{
	color: #F7A831;
}
.nav-item:nth-child(14):hover .icon-zi a{
	color: #3BC7B0;
}
.nav-item:nth-child(14):hover .icon-yiyaobaojian{
	color: #3BC7B0;
}
.nav-item:nth-child(15):hover .icon-zi a{
	color: #DD2727;
}
.nav-item:nth-child(15):hover .icon-jujia{
	color: #DD2727;
}
.nav-item:nth-child(16):hover .icon-zi a{
	color: #3BC7B0;
}
.nav-item:nth-child(16):hover .icon-tushuyinxiang{
	color: #3BC7B0;
} 
.nav-item:nth-child(1) .cx-box  a:hover {
	color:  #EA5F8D;
} 
.nav-item:nth-child(2) .cx-box  a:hover {
	color: #427DEF;
} 
.nav-item:nth-child(3) .cx-box  a:hover {
	color: #6347ED;
} 
.nav-item:nth-child(4) .cx-box  a:hover {
	color:  #E54077;
} 
.nav-item:nth-child(5) .cx-box  a:hover {
	color: #6347ED;
} 
.nav-item:nth-child(6) .cx-box  a:hover {
	color:  #427DEF;
} 
.nav-item:nth-child(7) .cx-box  a:hover {
	color: #FA5C5C;
} 
.nav-item:nth-child(8) .cx-box  a:hover {
	color:  #F7A831;
} 
.nav-item:nth-child(9) .cx-box  a:hover {
	color:  #F7A831;
} 
.nav-item:nth-child(10) .cx-box  a:hover {
	color:#427DEF;
} 
.nav-item:nth-child(11) .cx-box  a:hover {
	color:  #DD2727;
} 
.nav-item:nth-child(12) .cx-box  a:hover {
	color:#427DEF;
} 
.nav-item:nth-child(13) .cx-box  a:hover {
	color: #F7A831;
} 
.nav-item:nth-child(14) .cx-box  a:hover {
	color: #3BC7B0;
} 
.nav-item:nth-child(15) .cx-box  a:hover {
	color: #DD2727;
} 
.nav-item:nth-child(16) .cx-box  a:hover {
	color: #3BC7B0;
} 
.nav-item:nth-of-type(1) .line-word{
	color: #E54077;
}
.nav-item:nth-child(2) .line-word{
	color: #427DEF;
} 
.nav-item:nth-child(3) .line-word{
	color: #6347ED;
} 
.nav-item:nth-child(4) .line-word{
	color:  #E54077;
} 
.nav-item:nth-child(5) .line-word{
	color: #6347ED;
} 
.nav-item:nth-child(6) .line-word{
	color:  #427DEF;
} 
.nav-item:nth-child(7) .line-word{
	color: #FA5C5C;
} 
.nav-item:nth-child(8) .line-word{
	color:  #F7A831;
} 
.nav-item:nth-child(9) .line-word{
	color:  #F7A831;
} 
.nav-item:nth-child(10) .line-word{
	color:#427DEF;
} 
.nav-item:nth-child(11) .line-word{
	color:  #DD2727;
} 
.nav-item:nth-child(12) .line-word{
	color:#427DEF;
} 
.nav-item:nth-child(13) .line-word{
	color: #F7A831;
} 
.nav-item:nth-child(14) .line-word{
	color: #3BC7B0;
} 
.nav-item:nth-child(15) .line-word{
	color: #DD2727;
} 
.nav-item:nth-child(16) .line-word{
	color: #3BC7B0;
} 

.nav-item>.iconfont{
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 33px;
    font-size: 16px;
    float: left;
    color: #777272;
    padding-top: 2px;
    box-sizing: border-box;
}
.cx-box{
	width: 854px;
	height: 500px;
	background: #FFFFFF;
	position: absolute;
	left:200px;
   top:0px;
  display: none;  

}
.cx-box-left{
	float: left;
	width: 583px;
	height: 462px;
	margin: 19px 30px;
	overflow: hidden;
}
.cx-box-right{
	float: left;
	width: 195px;
	height: 480px;
	padding : 10px;
	padding-left: 6px;
	background:#FAFAFA;
   overflow: hidden;
}
.hot-word-line{
	width: 583px;
	height:52px ;
}
.icon-xiaojiantou:before{
   font-size: 14px;
}
.line-title { 
    float: left;
    width: 60px;
    height: 22px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 52px;
} 
.title-text {
    display: inline-block;
    width:80px;
    overflow: hidden;
    line-height: 52px;
    margin-right: 30px;
    }

.line-con {
	height: 52px;
    display: inline-block;
    width: 480px;
    margin-left: 20px;
    border-bottom: 1px dashed #E6E6E6;

   
}
 .line-con .line-hot-word {
 	vertical-align: center;
    height:52px;
    float: left;
   line-height: 52px; 
}
.line-con  a{
	text-decoration: none;
	font-size: 14px;

	color: #999;
   margin-left: 13px;
	 
}

.sub-logo-con {
    float: left;
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
    background: #FAFAFA;
    padding-left: 6px;
    margin-top: -10px;

}
.small-pic{
	    float: left;
    width: 73px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #fff;
}
.small-pic img {
    width: 73px;
    display: block;
    margin: 0 auto;
}
.mid-pic{
	width: 189px;
	height: 87px;
	margin-top: 10px;
}
.mid-pic img {
    width: 189px;
    display: block;
    margin: 0 auto;
}





/*  .banner ul li:nth-child(1):hover .cx-box{
	display: block;
} */
/*  .icon-nvzhuangneiyi:before{
	font-size: 16px;
	float: left;
	margin: 6px 4px 0px 14px;
} */
 .icon-zi a{
line-height: 31px;
    height: 31px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
 }

.side-right{
	width: 220px;
	height:234px;
	position: absolute;
	background:rgba(255,255,255,0.5);
	opacity: 0.8;
	right:114px; 
	top:45px ;
}
.side-right:hover{
	background: rgba(255,255,255,1);
}
.side-right1:hover{
	background:rgba(255,255,255,1);
}
.side-right1{
	width: 220px;
	height: 234px;
	position: absolute;
	background:rgba(255,255,255,0.5);
	opacity: 0.8;
	bottom:9px ;
	right:114px; 
	
}
.beijing{
	width: 100%;
	height: 658px;
	background:#F5F5F5;
}
.activite{background: #F5F5F5;
	width: 1230px;
	height: 163px;
	
	padding-top: 30px;
	padding-right: 30px;
	margin: 0px auto;
}
 .title{
	width: 1230px;
	height: 22px;
	background: #F5F5F5;
	
 } 
.vline-left{
    display: inline-block;
    height: 1px;
    width: 403px;
    margin-bottom: 9px;
    background: #ECECEC;
}
.vline-right{
    display: inline-block;
    height: 1px;
    width: 403px;
    margin-bottom: 9px;
    background: #ECECEC;
}
.title-inner-con{
	width: 252px;
    display: inline-block;
    margin: 0 80px;
    line-height: 18px;
    height: 18px;
    background: #F5F5F5;
    box-sizing: border-box;
    padding-left: 50px;

} 
.dizhi{
	float: left;
	width:18px ;
	height: 18px;

   }
   .title1{
   	float: left;
   	margin-left:4px;
   	font-size: 18px;
    color: #DD2727
   }
   .tu{
   	width: 1230px;
   	height:140px;
   	background: #F5F5F5;
   }
.box{
	float: left;
	width:238px;
   	height:130px;
   	background: yellow;
   	margin-right: 10px; 
   	margin-top: 10px;
}
.tu .rmargin{
	margin-right: 0px;
}
/* 品牌街 */
.pinpai{
	width: 1230px;
    height: 436px;
    padding-right: 30px;
	margin: 30px auto 0;
	background: #F5F5F5;

}
.pinpai-left{
	float: left;
	width: 488px;
	height: 436px;
	background:#000;
}
.pinpai-top{
	width: 488px;
	height: 275px;
	background: orange;
	position: relative;
}
.icon-tianmaozhibo:before{
	
  font-size: 70px;
  color: white;
}
.shipin{
	position: absolute;
	left:70px;
	text-align: center;
	top: 100px;
	font-size: 25px;
	color: white;

	
}
.shipin .sp-img{
		padding-left: 145px;
}
.shipin .sp-img img{
	width: 72px;
	height: 57px;
	display: block;

}

.pinpai-mid{
	width: 488px;
	height: 90px;
	background: #000;
	margin-top: 9px;
	position: relative;
	overflow: hidden;

}

.pinpai-mid ul{
	width:984px;
	height: 90px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: all 0.2s;
}
.pinpai-mid ul li{
	width: 160px;
	height: 90px;
	float: left;
	background: white;
	margin-right: 4px;
    position: relative;
}
.sp-img1{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 40px;

}
.sp-img1 img{
	display: block;
	width: 100%;
	height: 100%;
}

.hidden{
	display: none;
}
.show{
	display: block;
}
.xiangzuo{
	width: 17px;
	height: 90px;
	position: absolute;
	left: 492px;
	top: 0;
	z-index: 100;
	background:rgba(98,98,98,0.6);
}
.pinpai-box .xiangzuo .icon-zuofanye:before{
	color: white;
	font-size: 16px;
	font-weight: 400;
	padding-top: 36px;
    display: block;
    box-sizing: border-box;
}
.xiangyou{
	width: 17px;
	height: 90px;
	position: absolute;
	right:498px;
	top: 0;
	z-index: 100;
	background:rgba(98,98,98,0.6);

}
.xiangyou .icon-youfanye:before{
	color: white;
	font-size: 16px;
	font-weight: 400;
	padding-top: 36px;
    display: block;
    box-sizing: border-box;
}

.pinpai-mid ul li img{
	width: 100%;
	height: auto;
	display: block;
}
.pinpai-bottom{
	width:488px;
	height: 62px;
	background: black;
	position: relative;
	overflow: hidden;
}
.pinpai-logo{
	float: left;
	height: 40px;
	margin-left: 22px;
	margin-top:15px;
	margin-right: 4px;
}
.pinpai-list{
	float: left;
	width: 300px;
	background: black;
	position: absolute;
	left: 118px;
	top: 0;


	
}
.text{
	margin-top: 15px;
	width: 300px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
}
.time{
	color: #FD4889;
    width: 100%;
    font-size: 14px;
	line-height: 20px;
}
.pinpai-right{
	float: right;
	width: 732px;
	height: 436px;
	background: pink;
}
.brand li{
	float: left;
	width:121px ;
	height: 108px;
	border-right: 1px solid  #F5F5F5;
	border-bottom: 1px solid  #F5F5F5;
	background: white;

}
.brand  li img {
	display: block;
	width: 99.22px;
	height: 50px;
   margin-left:11px ;
   margin-top: 29px;
}
.icon-iconhuanyipi01:before{
	font-size: 36px;
	color:  #999999;	
}

.brand i{
	display:inline-block;
	margin-left:42px;	
    margin-top: 20px;
    transition: all 1s;
	
}
li p{
	 display: block; 
	font-size: 13px;
	text-align: center;
	color: #999999;
}
.zhuanhuan:hover {
	background: #DD2727;
}

.zhuanhuan:hover i{
transform: rotate(360deg);

}

.yhui{
	width:121px ;
	height:108px ;
	background:#333 ;
	position: relative;
	transform: translate(0px, -78px);
	opacity: 0;

}
.b1:hover .yhui{
   opacity:0.9;
}
.icon-aixin:before{
	font-size: 14px;
	color: white;
	position: absolute;
    top: 8px;
    right: 8px;
}
.coupon {
	width: 121px;
    color: #fff;
    text-align: center;
    line-height:60px;
    height: 60px;
}
.coupon span {
	width: 121px;
	height: 90px;
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.enter {
	margin-top:-15px;
	width: 121px;
    text-align: center;
    height: 32px;
    margin-left: 5px;
}

 .enter a {
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height:16px;
    background-color: red;
    border-radius: 9px;
    text-decoration: none;
}

/* 潮流前沿 */

.clbox{
	width: 100%;
	height: 478px;
	padding-top: 30px;
	background:  #F5F5F5;
}
.chaoliu{
	width:1230px ;
	height: 477px;
	background:  #F5F5F5;
	padding-right: 30px;
	margin:0px auto;

}
.chaoliu-box{
	float: left;
	width: 238px;
	height: 477px;
	background: pink;
	margin-right: 10px;
}
.chaoliu .rmargin{
	margin-right: 0px;
}
.chaoliu-title{
	width: 238px;
	height: 36px;
	background: #DD2727;
}
.icon-yifu:before{
	float: left;
	 font-size: 24px;
	 color: white;
	 margin-left:70px ;
      margin-top: 7px;
      margin-right: 6px;
}
.chaoliu-box a{ 
	/* float:left; */
	text-decoration: none;
	font-size: 18px;
    color: #fff;
    font-weight: 700;
	width: 72px;
	 height: 36px;
	text-align: center;
      line-height: 36px;
 }
 .chaoliu-nr{
 	width: 238px;
 	height: 220px;
 	background: white;
 	    display: block;
    overflow: hidden; 
     	position: relative;
     	
 	
  }
  .chaoliu-nr1{
 	padding-top: 1px; 
     	
 	
  }
 .line{
 	display: block;
 	width: 200px;
 	height:1px;
 	background: #EEEEEE;
 	position: absolute;
 	margin-left:19px ;
/*  margin-top: 1px; */
     z-index:200; 
 } 
 .item-title{
 	display:inline-block;
    height: 24px;
    width: 238px;
    background: white;
    font-size: 22px;
    color: black;
   
    line-height: 24px;
    text-align: center;
    margin-top: 19px;
 }
.item-sub-title{
    display: block;
  font-weight: normal;
    color: #888;
    font-size: 14px;
    width: 238px;
    height: 14px;
    line-height: 14px;
 }
 .img-con{
 	padding-top: 6px;
 	width: 140px;
 	height: 140px;
 	margin: 0px 49px;
   position: absolute;
   transition: all 0.2s linear; 
   /* z-index: 2; */
}
 .img-con:hover{
    width: 145px;
    height: 145px;
 }
 .img-mask{
 	width:142px ;
 	height:142px ;
 	background:#F7F7F7 ;
 	border-radius: 50%;
 	position: absolute;
 	top:70px; 
 	left:48px;
 	/* z-index: 1; */
 	
 }

.changtu{
	width: 1230px;
	height: 90px;
	margin: 0px auto;
	padding-right: 30px;
	background:  #F5F5F5;
	
} 
.changbox{
	width: 100%;
	padding-top: 10px;
	height:90px;
	background:  #F5F5F5;

}
 

/* .footer-box{
	width: 100%;
	height: 982px;
	padding-top: 30px; 
	background: #F5F5F5;

} */
/* 美丽人生 */
.mlrs{
	box-sizing: border-box;
   padding:30px 30px 0 44px; 
   background:  #F5F5F5;

}
.mlrs-title{
	width: 1230px;
	height: 20px;
	background: #F5F5F5;
}
.color-mark{
	float: left;
	width: 5px;
	height: 20px;
	background: #EA5F8D;
}
.floor-name{
	float: left;
	width: 72px;
	font-size: 18px;
	line-height: 20px;
    color: #000;
    height: 18px;
    margin-left: 10px;
    vertical-align: top;
}
.mlrs-name{
	float: left;
	width: 137px;
	height: 18px;
	font-size: 14px;
	line-height: 24px;
    color: #000;
     margin-left: 10px;
    vertical-align: top;
}
.hot-word{
	float: right;
	height: 20px;
	background:#F5F5F5;
	

}
.hot-word a{
   text-decoration: none;
   color: #000;
    margin-left:25px; 
   font-size: 14px;
   padding-bottom: 2px;
}
.hot-word a:hover{
  border-bottom: 1px solid #000;
}
.mlrs-content{
	width: 1230px;
	height:440px ;
	margin-top:10px ;
	background:skyblue;
}
.mlrs-content1{
	float: left;
	width: 246px;
	height: 441px;
	background: #FFFFFF;
	position: relative;
}
.mlrs-content-top{
	width: 246px;
	height: 330px;
	
}
.mlrs-title-con{
	width: 246px;
	height: 110px;
	background:#EA5F8D; 
}
.mlrs-title-con a{
	 display: block; 
	text-decoration: none;
	width: 246px;
	height: 33px;
	padding-top: 20px;
	
	text-align: center;
	font-weight: 700;
    font-size: 22px;
	color: white;
}
.mlrs-title-con p{
	width: 246px;
	height: 27px;
	font-size: 18px;
	color: white;
	text-align: center;
}
.aside{
	width: 246px;
	height:30px;
	background: rgba(250, 250, 250, 0.6);
	position: absolute;
	bottom:110px;
	left: 0;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	overflow: hidden;

}

.aside p{
	height: 30px;
	position: absolute;
	left: 60px;
	top: 0;
}
.aside p:hover{
	color: #DD2727;
}
.mlrs-tu1{
  width: 245px;
  height: 220px;
  border-right: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  position: relative;
}
.mlrs-rmargin{
	border-bottom: 0px;
}
.mlrs-jk-title{
	width: 185px;
	height: 24px;
	background:white;
	font-size: 18px;
	padding-top: 30px;
	margin-left: 25px;
	margin-bottom: 4px;
	line-height: 24px;
}
.mlrs-sub-title{
	width: 220px;
	height: 18px;
	font-size: 14px;
	 color: #EA5F8D;
	 margin-left: 25px;
	 position: absolute;
	 z-index: 3;

}
.mlrs-tt{
	width: 154px;
	height: 154px;
	background: pink;
	position: absolute;
	right:0;
	bottom: 0; 
	z-index: 2;
	transition: all 0.2s;
}

.mlrs-tt:hover{
	transform: translateX(-6px);
}
.mlrs-tt2{
	width:246px ;
	height:146px ;
	border-bottom: 1px solid #F5F5F5 ;
	background:  #FFFFFF;
	position: relative;
}
.mlrs-content1 .mlrs-rmargin{
	border-bottom:0px;
}
.mlrs-tt{
	width: 154px;
	height: 154px;
	background:  #FFFFFF;
	position: absolute;
	right:0;
	bottom: 0; 
}
.mlrs-tt3{
	width: 100px;
	height: 100px;
	background:  #FFFFFF;
	position: absolute;
	right:0;
	bottom: 0; 
	transition: all 0.2s;
}
.mlrs-tt3:hover{
	transform: translateX(-6px);
}
/* 潮电酷玩 */

.cdkw-color-mark{
	background: #0AA6E8;
	float: left;
	width: 5px;
	height: 20px;
}

.hot-word1 a{
   text-decoration: none;
   color: #000;
    margin-left:25px; 
   font-size: 14px;
}
.cdkw-title-con {
	background: #0AA6E8;
}
.cdkw-tu1{
	border-right: 0px;
}
.cdkw-mlrs-tu1{
	position: relative;
}
.cdkw-tt{
  width: 195px;
  height: 195px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.cdkw-ms-litter{
	width: 260px;
	height: 24px;
	background:white;
	font-size: 24px;
	padding-top: 30px;
	margin-left: 45px;
	margin-bottom: 4px;
	line-height: 24px;
}
.cdkw-sub-litter1{
	width: 260px;
	height: 18px;
	font-size: 18px;
	 color: #000;
	 margin-left: 45px;
	/*  position: absolute; */
	 z-index: 3;
	 margin-bottom: 10px;


}
.cdkw-sub1-litter1{
	width: 260px;
	height: 18px;
	font-size: 16px;
	 color: #0AA6E8;
	 margin-left:45px;
	 position: absolute;
	 z-index: 3;

}
.mlrs-sub-title1{
	color: #0AA6E8;
}
.hw .mlrs-sub-title{
	color: #19C8A9;
}
.jjsh .mlrs-sub-title{
	color: #64C333;
}
.dzac .mlrs-sub-title1{
	color: #F15453;
}
.dz-sub{
	color: #F15453;
}
.qzsg .mlrs-sub-title1{
	color: #F7A945;
}
.qz-sub{
	color: #F7A945;
}
.ct1{
	width: 1230px;
	height: 90px;
	overflow: hidden;
	margin-top:10px; 
	margin-left: 30px;
}
.jujia-color-mark{
	background:#64C333 ;
}
.jujia-title-con{
	background:#64C333 ;
}
.dzac-color-mark{
	background:#F15453 ;
}
.dzac-title-con{
	background:#F15453 ;
}
.huwai-color-mark{
	background:#19C8A9 ;
}
.huwai-title-con{
	background:#19C8A9 ;
}
.qzsg-color-mark{
	background:#F7A945 ;
}
.qzsg-title-con{
	background:#F7A945 ;
}


/* 猜你喜欢 */
/* .like{
	width: 100%;
	height: 6415px;
	background:#F5F5F5;
} */
.like-box{
	width: 100%;
	height: auto;
	padding:20px 30px 10px 44px;
    background:#F5F5F5;
    box-sizing: border-box;
}
.like-title{
	width:1230px ;
	height:43px ;
	background: #F5F5F5;
	padding-bottom: 10px;
}

.like-line1{
	float: left;
	
	width: 30px;
	height: 1px;
	background: #979797;
	 margin-left: 528px;
	 margin-right: 13px; 
	margin-top: 22px;


}
.like-line{
	float: left;
	width: 30px;
	height: 1px;
	background: #979797;
	
		margin-top: 22px;


}
.icon-aixin2:before{
	color: #DE5A54;
}
.like-title1 i{
	text-align: center;
    line-height: 43px;
    font-weight: 100;
   font-size: 20px;
    color: #dd2727;
}
.title2{
	float: left;

	width:95px;
	
	font-size: 18px;
	color: black;
     font-weight: 100;
     margin-right: 10px;
}
.like-picture{
	width: 1230px;
	height: 333px;
	background:#F5F5F5;
	overflow: hidden;
}
.like-box-son{
	float: left;
	width: 236px;
	height: 326px;
	margin-bottom: 10px;
	margin-right: 12px;
	background:white;
	position: relative;
}
 .white-cat i{
	display: inline-block;
 	width:169px; 
 	height: 71px;
 }  
 .white-cat .iconfont{
 	font-size: 150px;
 }
.icon-wo:before{
	
   color: white;
}
.white-cat{
	position: absolute;
	bottom:40px;
	left: 35px;
}
.bq{
	position: absolute;
	bottom:70px;
	left:65px;
}
.bq img{
	width:80px;
	height:40px ;
}
.dpm{
	display: block;
	position: absolute;
	bottom:-45px;
	margin: 50px 60px;
}
.dpm span{
	display: block;
	color: #999999;
	font-size: 10px;
	text-align: center;
}
.zhezhao{

	width: 235px;
	height: 326px;
	position: absolute;
	top: 0px;
	transition:background 0.2s;
}

.like-box-son:hover .zhezhao{
	
	box-sizing: border-box;
	border: 1px solid #CC0000;
	background: rgba(255, 255, 255, 0.4);
}
.like-picture .rmargin{
	margin-right: 0px;

}
.like-top{
	width: 231px;
	height: 228px;
	margin:0px auto; 
	margin-top: 2px;
}
 .item-info {
    display: block;
    padding: 14px 12px 8px;
    text-align: left;
        color: #000;
            font-size: 12px;
}
.item-desc {
    display: block;
    height: 34px;
    line-height: 14px;
    overflow: hidden;
}
.item-name {
    font-size: 13px;
    line-height: 18px;
    color: #666;}
    em, i {
    font-style: normal;
}
 .item-detail {
    position: relative;
    display: block;
    height: 33px;
    line-height: 22px;
    margin-top: 2px;
}
.item-price {
    line-height: 32px;
    color: red;
}
.mui-price-rmb {
    font-size: 14px;
}
.mui-price-integer {
    font-size: 16px;
}
.mui-price-decimal {
    font-size: 14px;}
.end-mao{
	width:100%;
	height: 55px;
	background:  #F5F5F5;
	margin: 0px auto;
	
}
.tumao{
	width: 80px;
	height: 45px;
	background: #F5F5F5;
	margin: 0px auto;
}
.footer{
	width: 100%;
	height: 563px;
	background: #FFFFFF;
	border-top: 1px solid #D1D7DC;
}
.tianmao-enurse{
	width: 89%;
	height: 100px;
	background:  #FFFFFF;
	margin: 25px auto;

}
.tianmao-enurse a{
	float: left;
	display: block;
	width: 297px;
	height: 100px;
	background: #FFFFFF;

}
.tianmao-enurse a{
	text-decoration: none;
	
	

}
.icon-zhengpinbaozhang:before{
	float: left;
    font-size: 52px;
    color: #CB040B;
    margin-left: 52px;line-height: 100px;
}
.icon-qitianwuliyoutuihuanhuo:before{
	float: left;
    font-size: 52px;
    color: #CB040B;
    margin-left: 52px;line-height: 100px;
}
.icon-tesefuwu:before{
	float: left;
    font-size: 52px;
    color: #CB040B;
    margin-left: 52px;line-height: 100px;
}
.icon-bangzhuzhongxin:before{
	float: left;
    font-size: 52px;
    color: #CB040B;
    margin-left: 52px;line-height: 100px;
}
.tianmao-enurse p{
	/* display: inline-block; */
	float: left;
	width:150px ;
	height:25px ;
	background:#FFFFFF ;
	
	
}
.pz-title{
	font-size: 18px;
	font-weight: 600;
    margin-top: 20px;
	margin-left: 15px;
	color: #000;
}
.pz-sub-title{
	 margin-top: 2px; 
	font-size: 15px;
	font-weight: 400;
	margin-left: 15px;
	color:#868686;

}
.th span{
	float: left;
	width: 1px;
	height: 44px;
	background: #CCCCCC;
	margin-top: 30px;
}

.tmall-desc{
	width: 1190px;
	height: 190px;
	padding-top: 20px;
 	border-top: 1px solid #EDEDED;
 	margin: 0px auto;
	background: #FFFFFF;
}
.tmall-desc dl{
	float: left;
	width:186px ;
	height: 90px;
	padding-left: 52px;
	background: #FFFFFF;

}
.tmall-desc dl dt {
	display: block;
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.tmall-desc dl dd {
    text-align: left;
    }
.tmall-desc dl a {
	display: block;
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 13px;
}
.mobile img{
	    vertical-align: middle;
}

.tmallfoot{
	width: 100%;
	height: 199px;
	border-top: 2px solid #C40000;
	background: black;
	position: relative;
}

.icon-tianmaoxingxiang1:before{
	font-size: 80px;
	position: absolute;
	bottom: 160px;
	left: 125px;
}
.footer-tmallinfo {
    color: #fff;
    line-height: 25px;
    padding: 5px 0;
    display: block;
    margin-left:80px; 
}
.footer-tmallinfo  a {
	text-decoration: none;
    margin-right: 3px;
    color: #fff;
    outline: 0;
    line-height: 25px;
    font-size: 13px;
    }
.footer-otherlink  {
    color: #fff;
    line-height: 25px;
    padding: 5px 0;
    display: block;
    margin-left:80px; 
    font-size: 10px;

    }
.footer-otherlink   a {
	text-decoration: none;
    margin-right: 3px;
    color: #fff;
    outline: 0;
    line-height: 25px;
   
}
 .footer-copyright {
 	width:1190px;
 	height: 128px; 
    line-height: 20px;
    background: black;
    color: #a4a4a4;
    margin: 0px auto;
    font-size: 13px;
}
 .footer-copyright a{
 	text-decoration: none;
 	 color: #a4a4a4;
 	  font-size: 13px;
 	  margin-right: 65px;
 }